Este fichero es utilizado para establecer de como vienen dadas las variables de entorno
Es para saber con que valores las rellenariamos , si seria una variable de entorno numerica etc

PORT = 8000 ----8000 puede que no sea el puerto real pero sabriamos que la variable de entorno se  llama PORT y es numerica
NODE_ENV=production ----- Lo mismo para esta variable sabemos que se llama NODE_ENV y que es string