extends layout.jade
block   content
    // h1  Hola Mundo desde Jade * Comentario visible como comentario de HTML
    //- h2  Estaciones del Año *Comentario en Jade se ocultara en el HTMl
    //- ul
    //-     li  Primavera
    //-       ol
    //-         li  Abril
    //-         li  Mayo
    //-         li  Junio

    //-     li  Verano
    //-       ol
    //-         li Julio
    //-         li Agosto
    //-         li Septiembre
        
    //-     li  Otoño
    //-       ol
    //-         li  Octubre
    //-         li  Noviembre
    //-         li  Diciembre

    //-     li  Invierno 
    //-       ol
    //-         li  Enero
    //-         li  Febrero
    //-         li  Marzo

    h1
        a(href="#{link}", target="_blank")=title
    p= description

