html {
    font-family: sans-serif;
    font-size:16 px;
    color:#FFF;
    background-color: #1D1D1D;
    text-align: center;
}

a{
    color:#80BD01;
}

a:hover{
    color:rgba(128,189,1,.5)
}

li{
    list-style-position: inside;
}

#jade{
    font-size: 2 rem;
    border: medium solid #80BD01;
    box-shadow: .25rem .25rem .5rem rgba(255,255,255,.5);
}
.container{
    margin:auto;
    width:80%;
    padding:1rem;
}

#logo-node{
    margin:auto;
    height:150px;
    width:450px;
    background:transparent url('../img/monitor.png') no-repeat center;
    /* Para que se adapte al contenedor */
    background-size: contain; 
}

.boton{
    outline:0;
    font-size:2rem;
    color:#1D1D1D;
    background-color:#80BD01;
}

.boton:hover{
    color:#80BD01;
    background-color: #DDD;
    cursor:pointer;
}

.item{
    float:
    width:25%;
}

