extends layout

block content
    article.content
        div.item.center
            h1=title
            h2=descripcion
            h3
                a(href="/") Regresar
            br
            pre.error.left
                code #{error.stack}

